body {
  font-family: "Noto Sans TC", "Noto Sans", sans-serif;
  letter-spacing: 0.05em;
  line-height: $line-height-base;
  color: $gray-950;
  background: $blue-900;
}

img {
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}
