// max-width

.max-w-1296 {
  max-width: 1296px;
}

.max-w-822 {
  max-width: 822px;
}

.max-w-346 {
  max-width: 349px;
}

.max-w-312 {
  max-width: 312px;
}

.max-w-318 {
  max-width: 318px;
}

.max-w-210 {
  max-width: 210px;
}

.max-w-182 {
  max-width: 182px;
}

.max-w-172 {
  max-width: 172px;
}

.max-w-160 {
  max-width: 160px;
}

.max-w-136 {
  max-width: 136px;
  width: 136px;
}

.max-w-120 {
  max-width: 120px;
  width: 120px;
}

.max-w-117 {
  max-width: 117px;
}

.max-w-80 {
  max-width: 80px;
}

.max-w-60 {
  max-width: 60px;
  width: 60px;
}

.max-w-40 {
  max-width: 40px;
}

.max-w-36 {
  max-width: 36px;
}

.max-w-26 {
  max-width: 26px;
}

.max-w-20 {
  max-width: 20px;
  width: 20px;
}

.max-w-14 {
  max-width: 14px;
  width: 14px;
}

// max-height

.max-h-796 {
  max-height: 796px;
}

.max-h-145 {
  max-height: 145px;
  height: 145px;
}

.max-h-130 {
  max-height: 130px;
  height: 130px;
}

.max-h-100 {
  max-height: 100px;
  height: 100px;
}

.max-h-73 {
  max-height: 73px;
  height: 73px;
}

.max-h-64 {
  max-height: 64px;
}

.max-h-20 {
  max-height: 20px;
  height: 20px;
}

.max-h-26 {
  max-height: 26px;
}

.max-h-7 {
  max-height: 7px;
  height: 7px;
}

// min-width

.min-w-111 {
  min-width: 111px;
}

// spacer

// hover

// 無背景 初始border為灰色、1px
.hover-effect {
  border: 1px solid $gray-950;
}

.hover-effect:hover,  // border+outline
.hover-effect:focus,  // border
.hover-effect:active {
  border-color: $primary-400 !important;
  outline: 2px solid $primary-900;
}

// 無背景色 初始border為綠色、2px
.hover-effect-2 {
  border: 2px solid $secondary-600;
}

.hover-effect-2:hover, // border+outline
.hover-effect-2:focus, // border
.hover-effect-2:active,
.hover-effect-2.active {
  border-color: $primary-400 !important;
  outline: 2px solid $primary-900;
}

// 無背景色 初始border為透明、1px
.hover-effect-3 {
  border: 1px solid transparent;
}

.hover-effect-3:hover, // border+outline
.hover-effect-3:focus, // border
.hover-effect-3:active {
  border-color: $primary-400 !important;
  outline: 2px solid $primary-900;
}

// 圖片放大 1.05倍
.scale-ease-1p05:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

// 初始背景色為藍、文字白
.fill-btn {
  background-color: rgba(255, 255, 255, 0.2);
  color: $white;
}

.fill-btn:hover,  //背景色黃、文字黑
.fill-btn:focus {
  background-color: $primary-400;
  color: $gray-900;
}

.img-change-btn {
  background: rgba(255, 255, 255, 0.2);
}

.img-change-btn:hover,
.img-change-btn:focus,
.img-change-btn:active {
  background: $white;
}

// bg

.bg-white-opacity-20 {
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-gray-900-20 {
  background-color: rgba(26, 26, 26, 0.2);
}

.product-main-img {
  background-image: url("../images/product_details_page/Rectangle_58.jpg");
  background-size: cover; /* 建議加上 */
  background-position: center; /* 建議加上 */
  background-repeat: no-repeat; /* 建議加上 */
}

// blur
.blur-30 {
  backdrop-filter: blur(30px);
}

// placeholder

input.placeholder-lg::placeholder {
  font-size: $h5-font-size;
}

.input-focus:focus {
  outline: none !important;
}

// border-radius

.border-radius-12 {
  border-radius: $border-radius-12;
}

.border-radius-16 {
  border-radius: $border-radius-16;
}

.border-top-left-radius-0 {
  border-top-left-radius: 0px !important;
}

.border-bottom-leftt-radius-0 {
  border-bottom-left-radius: 0px !important;
}

.border-bottom-right-radius-0 {
  border-bottom-right-radius: 0px !important;
}

// opacity
.transparent {
  background-color: transparent;
}

// scroll

.scroll {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.scroll::-webkit-scrollbar {
  display: none;
}

// position

.bottom--8 {
  bottom: -30px;
}

.remove-spin::-webkit-inner-spin-button,
.remove-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-spin {
  -moz-appearance: textfield;
}

.my-toast {
  background: #007bff;
  color: #fff;
  font-size: 18px;
  padding: 20px 30px;
  border-radius: 12px;
  min-width: 300px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

// 斷點

@media (min-width: 768px) {
  .lh-md-sm {
    line-height: 1.2; /* md 以上 */
  }

  .max-w-md-822 {
    max-width: 822px;
  }

  .max-w-md-318 {
    max-width: 318px;
  }

  .max-w-md-136 {
    max-width: 136px;
  }

  .max-w-md-40 {
    max-width: 40px;
  }

  .max-w-md-18 {
    max-width: 18px;
    width: 18px;
  }

  .max-w-md-64 {
    max-width: 64px;
  }

  .max-h-md-64 {
    max-height: 64px;
  }

  .max-h-md-144 {
    max-height: 144px;
    height: 144px;
  }
}

@media (min-width: 992px) {
  .max-w-lg-160 {
    max-width: 160px;
  }

  .max-h-lg-145 {
    max-height: 145px;
    height: 145px;
  }

  .max-h-lg-688 {
    max-height: 688px;
    height: 688px;
  }
}

@media (min-width: 1400px) {
  .top-lg-50 {
    top: 50%;
  }

  .left-lg--70 {
    left: -20px !important;
  }

  .right-lg--70 {
    right: -20px !important;
  }
}
